$spacer: 8px;

.mb-1 {
  margin-bottom: calc($spacer * 1);
}

.mb-2 {
  margin-bottom: calc($spacer * 2);
}

.mb-3 {
  margin-bottom: calc($spacer * 3);
}

.mb-4 {
  margin-bottom: calc($spacer * 4);
}

.mb-5 {
  margin-bottom: calc($spacer * 5);
}

.mr-1 {
  margin-right: calc($spacer * 1);
}

.mr-2 {
  margin-right: calc($spacer * 2);
}

.mr-3 {
  margin-right: calc($spacer * 3);
}

.mr-4 {
  margin-right: calc($spacer * 4);
}

.mr-5 {
  margin-right: calc($spacer * 5);
}
